---
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="">
	<main>
    <Navbar />
    <Hero 
    title="Sed tristique consectetur eros sed" 
    description="Vivamus non suscipit lorem. Vivamus pretium, ante nec accumsan ornare, massa lorem bibendum nisl, vitae fermentum."
    imgSrc="./hero-stand-in.jpg"
    />
  
	</main>
</Layout>

