---
export interface Props{
  title: string;
  links: string[];
}
const { title, links } = Astro.props;
const twoCols = (links[3] != null ? true : false)
---
<div class="relative group">
  <button class="flex flex-row border-b border-transparent items-center w-full px-4 py-4 mt-2 text-base text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none hover:border-highlightRed hover:text-highlightRed">
      <span>{title}</span>
  </button>
  <div class="absolute z-10 hidden bg-grey-200 group-hover:block">
      
      <div class="px-2 w-60 pt-2 pb-4 bg-white shadow-lg rounded-lg">
        <div >
          <ul class={twoCols ? "grid grid-cols-2 gap-4 p-2" : "grid grid-cols-1 gap-4 p-2"}>
            {links.map(link => {
              return (
                  <li>
                    <div class="">
                      <a href="/" class="flex flex-row mr-6 p-2 border-b border-transparent hover:border-highlightRed hover:text-highlightRed">
                        <span>{link}</span>
                      </a>
                    </div>
                  </li>
                )
            })}
          </ul>
        </div>
      </div>
    </div>
</div>