---
import DropMenus from "./DropMenus.astro"
import DynamicDropDown from './DynamicDropDown'
---

<nav class='relative flex items-center justify-between h-14 drop-shadow-md px-20 mx-auto border-b border-slate-300'>
  <div class="flex items-center">
    <div class='flex pr-20 mr-auto'>
      <a href="/">
        Salon Logo
      </a>
    </div>
    <div class="hidden pl-20 space-x-10 md:flex">
      <DynamicDropDown title='First Dropdown' links={['name', 'Other Name', "Harry"]} client:visible/>

      <DropMenus title='Second Dropdown' links={['Thing 1', 'Thing 2', 'Thing 3', 'Thing 4', 'Thing 5', 'Thing 6']}/>

      <a href="#" class="flex flex-row border-b border-transparent items-center w-full px-4 py-4 mt-2 text-base text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none hover:border-red-300 hover:text-red-300">Item 1</a>
      
      <a href="#" class="flex flex-row border-b border-transparent items-center w-full px-4 py-4 mt-2 text-base text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none hover:border-red-300 hover:text-red-300">Item 2</a>
    </div>
  </div>
</nav>